#numbers-video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1
}
body {
    margin: 0;
    background-color: var(--default-background);
    letter-spacing: 2px;
    color: white;
}
a {
    color: white;
}

section {
    display: flex;
}
#highlighted-name {
    min-width: 660px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--main-font-size);
    color: var(--main-font-color);
    text-align: center;

    text-shadow:
            0px 0px 2px rgb(4, 134, 124),
            0px 0px 30px rgba(1, 13, 53, 0.99),
            0px 0px 40px rgba(1, 13, 53, 0.99),
            0px 0px 50px rgba(1, 13, 53, 0.99),
            0px 0px 60px rgba(15, 15, 18, 0.99);
    z-index: 1;

}

#front-holder {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#blink{
    color: yellow;
}
#root{
    width: 100%;
    margin: 0;
 }

#middle-section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    display: grid;
    column-gap: 50px;
    row-gap: 200px;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    position: relative;
    background: var(--background-gradient)
}

.card-container {
    color: white;
    min-width: 250px;
    min-height: 300px;
    position: relative;
    cursor: pointer;
    border-radius: 50px;
    box-shadow:
            3px -4px 14px 8px black,
            0px 0px 17px 17px #1f5b98,
            0px 0px 20px 20px #0114d1;


}


.card-project-name {
    text-align: center;

}
.card-project-body{
    padding: 15px;
    text-align: center;
    font-size: 20px;
    text-wrap: wrap;
}


.card-front,
.card-back {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}



.card {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    background: radial-gradient(circle,
    rgba(2, 33, 78, 0.99) 20%,
    rgb(0, 23, 62) 80%);
    box-shadow:
            inset 2px 2px 7px 6px #021054,
            inset 5px 5px 11px 8px rgb(0, 61, 139);
}



.card-container:hover .card {
    transform: rotateY(180deg);
}

.card-container:hover a {
    animation: color 1 0.5s forwards;
}



.card-back {
    transform: rotateY(180deg);
}

@keyframes color {

    100% {
        box-shadow: inset 2px 2px 7px 6px #0000ff,
        inset 5px 5px 11px 8px #166eff,
        -3px -4px 14px 6px black,
        0px 0px 18px 18px #0000ff,
        0px 0px 20px 20px #2e7dfb;
    }
}



@media (max-width: 800px) {
    #middle-section {
        grid-template-columns: auto;
    }

    #highlighted-name {
        min-width: 350px;
    }
}

